html {
  border: solid;
  border-width: 10px;
  border-color: #49111c;
}

body {
  background-color: #f2f4f3;
}

p {
  color: #0a0908;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading {
  background-color: #a9927d;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0a0908;
  border-style: outset;
  border-color: #5e503f;
  padding: 5px;
}

.caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.quote {
  font-family: Times New 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 16px;
}

.body-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 14px;
  margin: 10px;
  padding-left: 12%;
  padding-right: 12%;
}

.timeline-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 12px 16px;
  display: block;
}

.timeline-heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.bibliography-text {
  font-family: Times New 'Times New Roman', Times, serif;
  font-size: 12px;
  text-align: center;
}

.navbar {
  overflow: auto;
  background-color: #49111c;
  border-color: #0a0908;
  border-style: inset;
  border-width: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 4px;
  z-index: 2;
}

.navbar-text {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

.navbar-text:hover {
  color: #a9927d;
}

.quote-div {
  border: dashed #5e503f 2px;
}

.dropbtn {
  background-color: #a9927d;
  border: outset;
  border-color: #5e503f;
  color: #0a0908;
  padding-top: 2%;
  padding-bottom: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.dropbtn:hover {
  font-weight: bold;
}

.dropdown {
  position: relative;
  padding: 2%;
  margin: auto;
}

.dropdown-content {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: static;
  top: 72%;
  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 90%;
  overflow: auto;
  box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0,0,2);
  z-index: 1;
}

.show {
  display: block;
}
